.back-to-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    // background: rgb(224, 229, 236);
    color: rgb(224, 229, 236);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    border-radius: 100%;
    display: none;
    z-index: 4;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
	
    &:hover{
        transform: scale(1.1);
    }
}
